---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Another Page</h1>
    <a href="/">Go back home</a>
  </main>
</Layout>

<style>
    h1{
        color:white;
    }
</style>
